# CouchDB HAProxy config
# Adapted from recommended default config at:
# https://github.com/apache/couchdb/blob/master/rel/haproxy.cfg

global
    maxconn 512
    spread-checks 5

defaults
    mode http
    log global
    monitor-uri /_haproxy_health_check
    option log-health-checks
    option httplog
    balance roundrobin
    option forwardfor
    option redispatch
    retries 4
    option http-server-close
    timeout client 150000
    timeout server 3600000
    timeout connect 500

    stats enable
    stats uri /_haproxy_stats
    # stats auth admin:admin # Uncomment for basic auth

frontend http-in
     # This requires HAProxy 1.5.x
     # bind *:$HAPROXY_PORT
     bind *:5984
     default_backend couchdbs

backend couchdbs
    option httpchk GET /_up
    http-check disable-on-404
    server couchdb1 node1.cluster:5984 check inter 5s
    server couchdb2 node2.cluster:5984 check inter 5s
    server couchdb3 node3.cluster:5984 check inter 5s
